<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>899949777366-jj77uhi97k91aeqjrhu6ee0jg1i18v3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.899949777366-jj77uhi97k91aeqjrhu6ee0jg1i18v3a</string>
	<key>API_KEY</key>
	<string>AIzaSyAg_I92f_uRxgr9XG3dE3bs4ZNAmCGeoz4</string>
	<key>GCM_SENDER_ID</key>
	<string>899949777366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bishanttripathi.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-e910b</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-e910b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:899949777366:ios:5bbf9c31422002fc791477</string>
</dict>
</plist>